<div class="cbp-item business animation">
    <!-- Single Portfolio -->
    <div class="single-portfolio">
        <div class="portfolio-head overlay">
            <img src="https://via.placeholder.com/600x415" alt="#">
            <a class="more" href="portfolio-single.html"><i class="fa fa-long-arrow-right"></i></a>
        </div>
        <div class="portfolio-content">
            <h4><a href="portfolio-single.html">{{title}}</a></h4>
            <p>{{type}}</p>
        </div>
    </div>
    <!--/ End Single Portfolio -->
</div>